node_modules/
.env
.env.local
.env.*.local
.DS_Store
*.log
logs/
dist/
build/
.vscode/
*.swp
*.swo
.idea/
.vagrant/
*.pem
*.key
.project
.classpath
*.sublime-project
*.sublime-workspace
